@font-face{
    src: url(../font/Barlow/Barlow-Light.ttf);
    font-family: barlow;
}
@font-face{
    src: url(../font/fira-sans/FiraSans-Light.ttf);
    font-family: Fira Sans;
}
@font-face{
    src: url(../font/Open_Sans/OpenSans-Light.ttf);
    font-family:Open Sans;
}
@font-face{
    src: url(../font/Industry/Industry-Bold.ttf);
    font-family:Industry-Bold;
}
@font-face{
    src: url(../font/Industry/Industry-Medium.ttf);
    font-family:Industry-Medium;
}
@font-face{
    src: url(../font/Industry/Industry-Book.ttf);
    font-family:Industry-Book;
}
@font-face{
    src: url(../font/Industry/Industry-Black.ttf);
    font-family:Industry-Black;
}
@font-face{
    src: url(../font/Industry/Industry-Demi.ttf);
    font-family:Industry-Demi;
}
html {
    scroll-behavior: smooth;
  }
body{
    cursor: pointer;
}
#resident-bg{
    background: url(../images/government.png) no-repeat;
    background-size: cover;
    
    /*position: absolute;*/
}
#resident-bg .layer{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

.navbar-dark .navbar-toggler{
    border: 0px !important;
    color: rgb(255,255,255) !important;
}
#resident-bg .form-control{
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border-radius: 120px;
}
#resident-bg i{
    background: #FFFFFF;
    opacity: 0.9;
    margin-left: -57px;
    border-radius: 0px 63px 58px 0px;
    color: rgba(0, 0, 0, 1);
    padding: 11px 18px
}
#resident-bg h6{
    font-family: Industry-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;
}
p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: justify;
    color: #474747;
}
.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 25px;
  }
  #home h1{
    font-family: Industry-Bold;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 68px;
color: #686868;
    }
#home h2{
font-family: Industry-Medium;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 32px;
color: #000000;
text-decoration: 5px underline #07E3DB;
        }
/**************************services******************/
#services h1{
    font-family: Industry-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 92px;
    color: #686868;
    text-decoration: 4px underline #07E3DB;
}
#services h3{
    font-family: Industry-Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #030303;
}
#services p{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
color: #6C6C6C;
}
#services ul{
    list-style-type: none;
    padding-left: 0;
}
#services li{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #000000;
}
#services li::before{
    content:"";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border: 3px solid #474747;
    display: inline-block;
}
/***************************project**********************/
#project{
    background: #000000;
}
#project h2{
    font-family: Industry-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    
    color: #EDEDED;
}
#project h3{
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration:  5px underline #07E3DB;
}
/*************************************schedule***********************/
#schedule{
    background: url(../images/image\ 31.png) no-repeat;
    background-size: cover;
}
#schedule h2{
    font-family: Industry-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
   
    color: #686868;
}
#schedule h3{
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #686868;
    text-decoration:  5px underline #07E3DB;
}
#schedule h1{
    font-family: Industry-Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
#schedule .addition{
    background: #07E3DB;
}
#schedule p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 31px;
    text-align: justify;
    color: #474747;
}
#schedule .stop{
    background: #EAEAEA;
}
#schedule h4{
    font-family: Industry-Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
/*************************footer**********************/
#footer{
    background: #000;
} 
#footer h6{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}
.border-bottom{
    border-bottom: 2px solid #fff !important;
    padding: 10px 0px;
}
#footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
}
#footer h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    }
    #footer ul{
        list-style: none;
        
    }
    #footer li{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }
    #footer li::before{
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #07E3DB;
        display: inline-block;
        margin-right: 5px;
    }
    #footer .call-us{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    #footer h3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    #footer .icon-bg{
        background-color: white;
        border-radius: 1px;
        transition: all 0.5s;
    }
    #footer .icon-bg:hover{
        transform: scale(1.2);
    }
    .social-media{
        background: transparent;
        transition: all .5s;
    }
    .social-media:hover{
        transform: scale(1.9);
    }
    #footer .fa-arrow-up{
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 18px;
        color: #000;
    }
    #footer .up-arrow{
        justify-content: flex-end;
        margin-left: 47px;
        margin-top: -78px;
    }
    #footer .border-right-1{
        border-right: 1px solid #dee2e6;
    }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #resident-bg i{
        margin-left: -52px;
}
#home h1, #services h1,#project h2,#project h3,#schedule h2 {
font-size: 40px;
}
.border-right-1{
    border-right: 0px !important;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
































 



