@font-face{
    src: url(../font/Barlow/Barlow-Light.ttf);
    font-family: barlow;
}
@font-face{
    src: url(../font/fira-sans/FiraSans-Light.ttf);
    font-family: Fira Sans;
}
@font-face{
    src: url(../font/Open_Sans/OpenSans-Light.ttf);
    font-family:Open Sans;
}
@font-face{
    src: url(../font/Industry/Industry-Bold.ttf);
    font-family:Industry-Bold;
}
@font-face{
    src: url(../font/Industry/Industry-Medium.ttf);
    font-family:Industry-Medium;
}
@font-face{
    src: url(../font/Industry/Industry-Book.ttf);
    font-family:Industry-Book;
}
@font-face{
    src: url(../font/Industry/Industry-Black.ttf);
    font-family:Industry-Black;
}
@font-face{
    src: url(../font/Industry/Industry-Demi.ttf);
    font-family:Industry-Demi;
}
html {
    scroll-behavior: smooth;
  }
body{
    cursor: pointer;
}
#resident-bg{
    background: url(../images/oil.png) no-repeat;
    background-size: cover;
    
    /*position: absolute;*/
}
#resident-bg .layer{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

.navbar-dark .navbar-toggler{
    border: 0px !important;
    color: rgb(255,255,255) !important;
}
#resident-bg .form-control{
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border-radius: 120px;
}
#resident-bg i{
    background: #FFFFFF;
    opacity: 0.9;
    margin-left: -57px;
    border-radius: 0px 63px 58px 0px;
    color: rgba(0, 0, 0, 1);
    padding: 11px 18px
}
#resident-bg h6{
    font-family: Industry-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;
}

p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: justify;
    color: #474747;
}
/********************home****************/
/* Style the tab */
.tab {
    float: left;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background: #F7F7F7;
    border-radius: 2px;
    color: black;
    padding: 15px 16px;
    border-left: 3px solid #07E3DB !important;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
   
    
    border-left: none;
   
  }
  #home h1{
    font-family: Industry-Bold;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
color: #686868;
text-decoration: 5px underline #07E3DB;
}
#home h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
    
    border-radius: 2px;
}
#home .form-control{
    border: 0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
/* Bottom left text */
#home .bottom-left {
    position: absolute;
    bottom: 372px;
    left: 42px;
  }
  #home h3{
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
  #home h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
  }
  #home h5{
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 11px;
    color: #FFFFFF;
    }
    #home h6{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 6px;
        line-height: 8px;
        color: #FFFFFF;
    }
    #home .bottom-left-2 {
        position: absolute;
        bottom: -4px;
        left: 22px;
      }
      #home .img-height{
          height: 85px;
          width: 130px;
      }
      #why {
          background: #182431;
      }      
  #why h1{
    font-family: Industry-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 92px;
    color: #FFFFFF;
    }  
    #why h2{
        font-family: Industry-Medium;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 51px;
        color: #FFFFFF;
        text-decoration: 5px underline #07E3DB;
        }  
#why p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}        
#why ul{
    list-style: none;
}
#why li a{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
text-align: center;
padding: 10px 0px;
color: #FFFFFF;
text-decoration:  none;
}
#why li::before{
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border: 2px solid #fff;
   border-radius: 50%;
    display: inline-block;
}
/*********************safty************/
#safty h1{
    font-family: Industry-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 92px;
    color: #000000;
    text-decoration: 5px underline #07E3DB;
}
#safty h2{
    background: #07E3DB;
    font-family: Industry-Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
#safty p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    text-align: justify;
    color: #474747;
}
#safty h3{
    background: #eaeaea;
    font-family: Industry-Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
/*************************footer**********************/
#footer{
    background: #000;
} 
#footer h6{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}
.border-bottom{
    border-bottom: 2px solid #fff !important;
    padding: 10px 0px;
}
#footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
}
#footer h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    }
    #footer ul{
        list-style: none;
        
    }
    #footer li{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }
    #footer li::before{
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #07E3DB;
        display: inline-block;
        margin-right: 5px;
    }
    #footer .call-us{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    #footer h3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    #footer .icon-bg{
        background-color: white;
        border-radius: 1px;
        transition: all 0.5s;
    }
    #footer .icon-bg:hover{
        transform: scale(1.2);
    }
    .social-media{
        background: transparent;
        transition: all .5s;
    }
    .social-media:hover{
        transform: scale(1.9);
    }
    #footer .fa-arrow-up{
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #000;
    }

    #footer .fa-arrow-up{
        background: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #000;
    }
    #footer .fa-arrow-up{
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 18px;
        color: #000;
    }
    #footer .up-arrow{
        justify-content: flex-end;
        margin-left: 47px;
        margin-top: -78px;
    }
    #footer .border-right-1{
        border-right: 1px solid #dee2e6;
    }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #resident-bg i{
        margin-left: -52px;
}
#safty h1, #why h1,#schedule h2{
font-size: 40px;
}
.border-right-1{
    border-right: 0px !important;
}
#home .bottom-left{
    bottom: 642px;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #home .bottom-left{
        bottom: 690px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #home .bottom-left{
        bottom: 572px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #home .bottom-left{
        bottom: 400px;
    }
}

